*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
spec/tmp
spec/version_tmp
tmp
spec/test_app/config/database.yml
spec/test_app/log/
spec/test_app/tmp/
spec/test_app/public/
*.sql
*.sqlite3
